@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #AEFAF3;
    --cor1: #1DAEB1;
    --cor2: #2D8586;
    --cor3: #2E5B5C;
    --cor4: #223333;
    --cor5: #2F3838;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-cursiva: cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 120px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-cursiva);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    text-align: center;
}

nav > a {
    color: white;
    padding: 10px;
    border-radius:5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

nav > h2 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    padding-bottom: 10px;
    text-align: left;
}

.voltarInicio {
    background-color: white;
    padding-top: 10px;
    padding: 10px 0px 0px 0px;
    box-shadow: 0px 0px 0px;
}

.aVoltarInicio {
    color: black;
    font-weight: bold;
    padding: 5px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: black;
    font-family: var(--fonte-destaque);
    padding-bottom: 10px;
    font-weight: bold;
}

main p {
    color: black;
    font-family: var(--fonte-padrao);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}

div.videoBa {
    background-color: var(--cor5);
    margin: 0px -20px 10px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.videoBa > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
}

.imgMordekaiser {
    width: 75%;
    height: auto;
    display: block;
    align-items: center;
}

.imgSion {
    width: 75%;
    height: auto;
    display: block;
    align-items: center;
}

.minion {
    width: 299px;
    height: 168px;
}

.ward {
    width: 311px;
    height: 162px;
}

.Garen {
    width: 300px;
    height: auto;
    display: block;
    align-items: center;
}

.Sett {
    width: 300px;
    height: auto;
    display: block;
    align-items: center;
}

.Nasus {
    width: 300px;
    height: auto;
    display: block;
    align-items: center;
}

.Renekton {
    width: 300px;
    height: auto;
    display: block;
    align-items: center;
}

h2 {
    color: var(--cor5);
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.8em;
}

h3 {
    color: var(--cor5);
}

footer {
    background-color: var(--cor5);
    color: white;
    font-family: var(--fonte-padrao);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    
}